<div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
        <ul>
            <li class="menu-title">
                <span>Trang chủ</span>
            </li>
            <li class="submenu">
                <a href="#">
                    <i class="feather-grid"></i> <span> Dashboard</span> <span class="menu-arrow"></span>
                </a>
                <ul>
                    <li><a href="index.html">Admin Dashboard</a></li>
                    <li><a href="teacher-dashboard.html">Employee Dashboard</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#">
                    <i class="fas fa-chalkboard-teacher"></i> <span> Nhân viên</span> <span class="menu-arrow"></span>
                </a>
                <ul>
                    <li><a href="/Employee/Index">Danh sách nhân viên</a></li>
                    <li><a href="/Employee/Details">Thông tin nhân viên</a></li>
                    <li><a href="/Employee/Create">Thêm nhân viên</a></li>
                    <li><a href="edit-student.html">Sửa nhân viên</a></li>
                </ul>
            </li>
        
            <li class="submenu">
                <a href="#">
                    <i class="fas fa-building"></i> <span> Phòng ban</span> <span class="menu-arrow"></span>
                </a>
                <ul>
                    <li><a href="departments.html">Danh sách phòng ban</a></li>
                    <li><a href="add-department.html">Thêm phòng ban</a></li>
                    <li><a href="edit-department.html">Sửa phòng ban</a></li>
                </ul>
            </li>

            <li class="submenu">
                <a href="#">
                    <i class="fas fa-clipboard"></i> <span> Invoices</span> <span class="menu-arrow"></span>
                </a>
                <ul>
                    <li><a href="invoices.html">Invoices List</a></li>
                    <li><a href="invoice-grid.html">Invoices Grid</a></li>
                    <li><a href="add-invoice.html">Add Invoices</a></li>
                    <li><a href="edit-invoice.html">Edit Invoices</a></li>
                    <li><a href="view-invoice.html">Invoices Details</a></li>
                    <li><a href="invoices-settings.html">Invoices Settings</a></li>
                </ul>
            </li>
            <li class="menu-title">
                <span>Quản lý</span>
            </li>
            <li class="submenu">
                <a href="#">
                    <i class="fas fa-file-invoice-dollar"></i> <span>Tài khoản</span> <span class="menu-arrow"></span>
                </a>
                <ul>
                    <li><a href="fees-collections.html">Thu phí</a></li>
                    <li><a href="expenses.html">Chi phí</a></li>
                    <li><a href="salary.html">Tiền lương</a></li>
                    <li><a href="add-fees-collection.html">Thêm bảng chi phí</a></li>
                    <li><a href="add-expenses.html">Thêm bảng thu phí</a></li>
                    <li><a href="add-salary.html">Thêm bảng lương</a></li>
                </ul>
            </li>
            <li>
                <a href="holiday.html"><i class="fas fa-holly-berry"></i> <span>Ngày nghỉ</span></a>
            </li>
            <li>
                <a href="fees.html"><i class="fas fa-comment-dollar"></i> <span>Fees</span></a>
            </li>
            <li>
                <a href="exam.html"><i class="fas fa-clipboard-list"></i> <span>Danh sách team</span></a>
            </li>
            <li>
                <a href="event.html"><i class="fas fa-calendar-day"></i> <span>Sự kiện</span></a>
            </li>
            <li>
                <a href="time-table.html"><i class="fas fa-table"></i> <span>Bảng biểu</span></a>
            </li>
            <li class="submenu">
                <a href="#">
                    <i class="fa fa-newspaper"></i> <span> Blogs</span>
                    <span class="menu-arrow"></span>
                </a>
                <ul>
                    <li><a href="blog.html">All Blogs</a></li>
                    <li><a href="add-blog.html">Add Blog</a></li>
                    <li><a href="edit-blog.html">Edit Blog</a></li>
                </ul>
            </li>
            <li>
                <a href="settings.html"><i class="fas fa-cog"></i> <span>Cài đặt</span></a>
            </li>
        </ul>
    </div>
</div>
